body {
  background-color: #674172;
}
.reveal h1 {
  font-size: 5rem;
}
.reveal h2 {
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}
.reveal ul li, .reveal ol li {
  padding-bottom: 0.5rem;
}

.underline {
  text-decoration: underline;
}
